<%- include("header") -%>
<h2>This website is designed and made by Moaz Dev</h2>
<p>If you want any custom paid projects, you can contact him on email or on whatsapp:
    <br> Email: moaz007malik@gmail.com <br> Whatsapp: +923104468909
</p>
<%- include("footer") -%>